* {
  color: #fcfcfc;
}

main > section {
  min-height: 500px;
  height: auto;
  padding: var(--section-padding-y) var(--section-padding-y);
}

main section.hero {
  background-color: black;
  color: white;
  min-height: 500px;
  height: calc(100vh - 100px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 5%;
  padding-right: 5%;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(./assets/IMG_9896.jpg); */
}

main section.hero h2 {
  font-size: 58px;
  letter-spacing: 1px;
  font-weight: 700;
}

main section.hero h4 {
  font-size: 26px;
  max-width: 800px;
}

/* For all mobile users only */
@media only screen and (max-width: 768px) {
  main section.hero {
    height: auto;
    padding-left: 36px;
    padding-right: 36px;
  }

  main section.hero h2 {
    font-size: 50px;
  }
  
  main section.hero h4 {
    font-size: 20px;
  }
}
